/**
 * Copyright 2021 GoneTone
 */

@font-face {
    font-family: HYWenHei-85W;
    src: url('../font/HYWenHei-85W.ttf');
}
@font-face {
    font-family: Default_SC;
    src: url('../font/Default_SC.ttf');
}

html {
    cursor: url('../cur/3.cur'), auto;
}

body {
    word-break: break-all;
    font-family: "HYWenHei-85W", "Default_SC", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a, label {
    cursor: url('../cur/3.cur'), auto;
}

.border-left-bd6932 {
    border-left: .25rem solid #bd6932 !important
}

.border-left-a256e1 {
    border-left: .25rem solid #a256e1 !important
}

.border-left-8e8e8e {
    border-left: .25rem solid #8e8e8e !important
}

.text-bd6932 {
    color: #bd6932 !important
}

.text-a256e1 {
    color: #a256e1 !important
}

.text-8e8e8e {
    color: #8e8e8e !important
}

.bg-bd6932 {
    background-color: #bd6932 !important;
}
